body{
    background-image: url("image/index.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  background-position: center;
  background-size: cover;
}
.navigationMenu{
    display:flex;
    font-size: larger;
    padding-left: 500px; 
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px; 
}
a{
    color:black;
    padding:10px;
    text-align: center; 
    text-decoration: none;
    margin: 20px;
    margin-left: 100px;

}
a:hover{
    
    border:2px solid black;
    border-radius: 3px;
    /* margin-top: 0px; */
    /* background-color: white; */
}
