<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM</title>
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <marquee behavior="" direction="left">Smart Lender - Applicant Credibility Prediction For Loan Approval</marquee>
    <form action="index.html">
        <div class="login">
            <div class="title">
            <p>
                LOGIN
            </p>
           </div>
            <div class="type">
                <label for="username">UserName</label>
                <input type="text" id="username" placeholder="Username">
            </div>
            <div class="type">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <p style="margin-left:200px"><a href="" >Forgot password?</p></a>
            <div class="button">
                <button>Submit</button>
            </div>
            <div class="signup"><p>Create account? <a href="registration.html">Sign-up</a> </p></div>
            
        </div>
    </form>
</body>
</html>